<div class="initMusicCard">
    
    <h2>Musica</h2>
</div>

<style>
    .initMusicCard{
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        top:20px;
        left: 20px;
        background-color: var(--color-background-cards-dark);
        z-index: 4;
        border-radius: 3px;
        border:1px solid var(--color-yellow-opacite)
    }
    .initMusicCard h2{
        margin: 0;
        padding: 0;
        color:var(--color-yellow-opacite);
        font-family: "Inter";font-size: 30px;
    }
</style>