---
import FiltersMusic from '../components/music/filtersMusic.astro';
import InitText from '../components/music/initText.astro';
import MusicReproductor from '../components/music/musicReproductor.astro';
import Layout from '../layouts/layout.astro';
---
<Layout pageTitle="Musica">
    <main class="musicPage">
        <section class="initMusicPage">
			<InitText />
			<FiltersMusic/>
			<div class="musicIntro">
				
				<div class="video-container">
					<video autoplay  loop playsinline>
					  <source src="https://res.cloudinary.com/magcondosystemsalpha/video/upload/f_auto:video,q_auto/v1/SACLAN/videos/pydtfgxpbshuz2pqafxw" type="video/mp4" />
					  Tu navegador no soporta video en HTML5.
					</video>
					<div class="video-overlay">
					  <!-- Aquí puedes poner tu contenido encima del video -->
					  <h1>404</h1>
					  <p>No se encuentra Ca	ncion</p>
					</div>
				</div>
			</div>
		</section>
    </main>
</Layout>

<style>
	.musicPage{
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		background-color: #ededed;
	
	}
	.musicPage .initMusicPage{
		width: 100%;
		padding: 0px;
		box-sizing: border-box;
		position: relative;
		height: 100%;
		margin:0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;	
		overflow: hidden;
		background: black;
		animation: flicker 0.1s infinite alternate;
	}
	
	.musicPage .initMusicPage .musicIntro{
		width: 100%;
		height: 100vh;
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
		position: relative;
		z-index: 1;
		.video-container {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		}

		.video-container video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 5;
		transform: translate(-50%, -50%);
		object-fit: cover;
		filter: brightness(0.8); /* Oscurecer si quieres texto encima */
		}

		.video-overlay {
		position: relative;
		z-index: 2 ;
		color: #facc15;
		font-family: 'Arial Black', sans-serif;
		text-align: center;
		top: 40%;
		}

		.video-overlay h1 {
		font-size: 6rem;
		margin: 0;
		}

		.video-overlay p {
		font-size: 1.5rem;
		color: #ccc;
		}
		
	}

	.musicPage .initMusicPage .musicIntro::before{
		content: "";
		position: absolute;
		width: calc(100% + 9%);
		height: calc(100% + 9%);
		top: -8%;
		left: -8%;
		background: repeating-linear-gradient(
			45deg,
			rgba(28, 30, 110, 0.836) 0px,
			rgba(29, 48, 107, 0.1) 3px,
			rgba(0, 0, 0, 0.1) 6px
		),repeating-linear-gradient(
			0deg,
			rgba(90, 90, 90, 0.3) 0px,
			rgba(2, 31, 49, 0.9) 3px,
			rgba(0, 0, 0, 0.3) 6px
		),
		repeating-linear-gradient(
			210deg,
			rgba(4, 59, 94, 0.2) 0px,
			rgba(2, 31, 49, 0.9) 3px,
			rgba(0, 0, 0, 0.2) 6px
		);
		animation: static-effect 0.2s infinite linear,noise .2s infinite linear;
		transform-origin: center;
		z-index: 10;
		opacity: .5;
	}


	@keyframes static-effect {
		0% { transform: translateY(0); }
		100% { transform: translateY(-10px); }
	}

	@keyframes noise {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-20%);
      }
    }

	@keyframes move {
      0% {
        transform: translate(-10%, -20%) scale(1);
      }
      100% {
        transform: translate(20%, 10%) scale(1.05);
      }
    }

	.musicPage .initMusicPage .musicIntro figure{
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		
		filter: saturate(0);
		padding: 0%;
		margin: 0;
		opacity: .5;
	}

	
	.musicPage .initMusicPage .musicIntro figure img{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		
	}


    

    @keyframes flicker {
      0% {
        background-color: black;
      }
      100% {
        background-color: #050505;
      }
    }

    @keyframes noise {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(10px ,20px);
      }
    }

</style>
