---
const galerias:[{
    title:string;
    description:string;
    urls:string[];
    creator?:string;
    tags:string[];
}]=[
    {
        title:"De la Montaña a la ciudad",
        description:"desde la SA clan, Hasta la colpatria",
        urls:["",""],
        creator:"DiosPlon",
        tags:["hip hop", "Bogota", "Rap" ,"Photografy"]
    },{
        title:"Les deseamos una Feliz Navidad",
        description:'La celebración de la creacion de la pagina "mibarrioegipto.com"',
        urls:["",""],
        creator:"DiosPlon",
        tags:["hip hop", "Bogota", "Rap" ,"Photografy"]
    }
]
---

<section>
    <h2>Galerias</h2>

</section>